<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation Created</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        Discover Thailand
    </h1>

    <p>
        Hi, <br>
        Discover Thailand has requested you a bill (bill id: <b> {{ bill_instance.tracking_id }} </b>) for a Quotation created
        on: {{ created_on }}.
    </p>

    <p>
    <h2>Service Info:</h2>
    Tentative Travel Date: {{ travel_date }} <br>
    Quotation ID: {{ tracking_id }} <br>
    Service: {{ bill_instance.service.service.service_name }} <br>
    Bill: {{ bill_instance.admin_bill|add:bill_instance.vendor_bill  }}
    </p>

    <p>
    <h2>Customer Info:</h2>
    Customer Name: {{ customer_name }} <br>
    Customer Address: {{ customer_address }} <br>
    Customer Mobile: {{ customer_num }} <br>
    </p>

</body>

</html>