<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFQ Created</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
        }

        .desc {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        Discover Thailand
    </h1>

    <p>
        Greetings from Discover Thailand, <br>
        Your RFQ (created on: {{ created_on }}) has been confirmed by agent (<b>{{ agent_name }}</b>).
        Please pay bills to the agent and take a printout of the invoice.
    </p>

    <p>
    <h2>Agent Info:</h2>
    Agency Name: {{ agency_name }} <br>
    Agent Name: {{ agent_name }} <br>
    Agent Mobile: {{ agent_num }} <br>
    </p>

    <p>
    <h2>RFQ Info:</h2>
    Tentative Travel Date: {{ travel_date }} <br>
    RFQ ID: {{ tracking_id }} <br>
    </p>

    <p>
    <h2>Services:</h2>
    {% for rfq_service in rfq_services %}
    - {{ rfq_service.service.service_name }} <br>

    <b class="desc">Description:</b> <br>
    {{ rfq_service.service.description | safe}} <br> <br>

    <b class="desc">Itinerary:</b> <br>
    {{ rfq_service.service.itinerary | safe}} <br>

    <b class="desc">Overview:</b> <br>
    {{ rfq_service.service.overview | safe}} <br>

    <b class="desc">Rates:</b> <br>
    {{ rfq_service.service.rates | safe}} <br>
    {% endfor %}
    </p>

</body>

</html>