<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation Created</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
        }

        .desc {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        {{ agency_name }}
    </h1>

    <p>
        Greetings from {{ agency_name }}, <br>
        Your Quotation (created on: {{ created_on }}) has been confirmed by agent (<b>{{ agent_name }}</b>).
        Please pay bills to the agent and take a printout of the invoice (provided by the agent).
    </p>

    <p>
    <h2>Agent Info:</h2>
    Agency Name: {{ agency_name }} <br>
    Agent Name: {{ agent_name }} <br>
    Agent Mobile: {{ agent_num }} <br>
    </p>

    <p>
    <h2>Quotation Info:</h2>
    Tentative Travel Date: {{ travel_date }} <br>
    Quotation ID: {{ tracking_id }} <br>
    </p>

    <h3>
        Service details are attached below:
    </h3>

</body>

</html>