<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation Created</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        Discover Thailand
    </h1>

    <p>
        Hi, <br>
        A customer (<b>{{ customer_name }}</b>) has placed a Quotation request through agent (<b>{{ agent_name }}</b>) on
        <b>{{ created_on }}</b>.
    </p>

    <p>
    <h2>Agent Info:</h2>
    Agency Name: {{ agency_name }} <br>
    Agent Name: {{ agent_name }} <br>
    Agent Mobile: {{ agent_num }} <br>
    </p>

    <p>
    <h2>Customer Info:</h2>
    Customer Name: {{ customer_name }} <br>
    Customer Address: {{ customer_address }} <br>
    Customer Mobile: {{ customer_num }} <br>
    </p>

    <p>
    <h2>Quotation Info:</h2>
    Tentative Travel Date: {{ travel_date }} <br>
    Quotation ID: {{ tracking_id }} <br>
    </p>

    <p>
    <h2>Service Categories:</h2>
    {% for rfq_category in rfq_categories %}
    - {{ rfq_category.category.category_name }} <br>
    {% endfor %}
    </p>

</body>

</html>