<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Request</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        Discover Thailand
    </h1>

    <p>
        Hi, <br>
        A RFQ (created on {{ created_on }}) has been approved by Discover Thailand and the prices have been updated.
    </p>

    <p>
    <h2>Customer Info:</h2>
    Customer Name: {{ customer_name }} <br>
    Customer Address: {{ customer_address }} <br>
    Customer Mobile: {{ customer_num }} <br>
    </p>

    <p>
    <h2>RFQ Info:</h2>
    Tentative Travel Date: {{ travel_date }} <br>
    RFQ ID: {{ tracking_id }} <br>
    </p>

    <p>
    <h2>Services:</h2>
    {% for rfq_service in rfq_services %}
    <h4>- {{ rfq_service.service.service_name }}:</h4>
    &nbsp; &nbsp; &nbsp; price: {{ rfq_service.service_price }} BDT<br>
    {% endfor %}
    </p>

</body>

</html>