<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFQ Created</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        Discover Thailand (B2C)
    </h1>

    <p>
        Hi, <br>
        Discover Thailand has requested you a bill (bill id: <b> {{ bill_instance.tracking_id }} </b>) for a RFQ created
        on: {{ created_on }}.
    </p>

    <p>
    <h2>RFQ Info:</h2>
    Tentative Travel Date: {{ travel_date }} <br>
    RFQ ID: {{ tracking_id }} <br>
    Total Bill: {{ bill_instance.admin_bill|add:bill_instance.vendor_bill }}
    </p>

    <p>
    <h2>Services:</h2>
    {% for rfq_service in rfq_services %}
    <h4>- {{ rfq_service.service.service_name }}:</h4>
    &nbsp; &nbsp; &nbsp; price: {{ rfq_service.service_price }} BDT<br>
    {% endfor %}
    </p>

</body>

</html>