<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFQ Created</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="heading">
        Discover Thailand
    </h1>

    <p>
        Greetings from Discover Thailand, <br>
        Your RFQ (created on: {{ created_on }}) has been confirmed.
        Please pay bills and take a printout of the invoice.
    </p>

    <p>
    <h2>RFQ Info:</h2>
    Tentative Travel Date: {{ travel_date }} <br>
    RFQ ID: {{ tracking_id }} <br>
    </p>

    <p>
    <h2>Services:</h2>
    {% for rfq_service in rfq_services %}
    - {{ rfq_service.service.service_name }} <br>
    {% endfor %}
    </p>

</body>

</html>