<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Paid</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h3>
        Discover Thailand
    </h3>

    <br><br>

    <table style="width: 100%;">
        <tr>
            <td style="font-weight: bold;"><b>Paid Amount</b></td>
            <td>{{ paid_amount }} Tk.</td>
        </tr>

        <tr>
            <td><b>Total Paid Amount</b></td>
            <td>{{ t_paid_amount }} Tk.</td>
        </tr>

        <tr>
            <td style="font-weight: bold;"><b>Paid By</b></td>
            <td>{{ paid_by }}</td>
        </tr>

        <tr>
            <td style="font-weight: bold;"><b>Paid on</b></td>
            <td>{{ bill_instance.admin_paid_on }}</td>
        </tr>

        {% if received_by != None %}
        <tr>
            <td style="font-weight: bold;">
                <b>Received By</b>
            </td>
            <td>
                {{ received_by }}
            </td>
        </tr>
        {% endif %}

        {% if receipt_img != None %}
        <tr>
            <td style="font-weight: bold;">
                <b>Receipt image</b>
            </td>
            <td>
                <img src="{{ receipt_img }}" alt="" style="width: 10rem;">
            </td>
        </tr>
        {% endif %}

        <tr>
            <td style="font-weight: bold;"><b>Payment due</b></td>
            <td>{{ bill_instance.agent_due }} Tk.</td>
        </tr>
        <tr>
            <td style="font-weight: bold;"><b>Total Amount</b></td>
            <td>{{ bill_instance.admin_bill|add:bill_instance.vendor_bill }} Tk. </td>
        </tr>
    </table>
</body>

</html>