<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFQ Created</title>
    <style type="text/css">
        body {
            font-family: Tahoma, sans-serif;
        }

        .heading {
            margin: 3rem auto;
            text-align: center;
            display: blocks;
        }

        .heading img {
            width: 8rem;
            border-radius: 1rem;
        }

        .desc {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="heading">
        <h1>
            Discover Thailand
        </h1>
    </div>

    <p>
    <h2>Service Detail:</h2>
    {{ rfq_service.service.service_name }} <br> <br>

    <b class="desc">Description:</b> <br>
    {{ rfq_service.service.description | safe}} <br> <br>

    <b class="desc">Itinerary:</b> <br>
    {{ rfq_service.service.itinerary | safe}} <br>

    <b class="desc">Overview:</b> <br>
    {{ rfq_service.service.overview | safe}} <br>

    <b class="desc">Rates:</b> <br>
    {{ rfq_service.service.rates | safe}} <br>
    </p>

</body>

</html>